<form action="/api/guardar" method="post">
  <div class="form-group">
    <label for="title">Nombre</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Ingresar nombre">
  </div>
  <div class="form-group">
    <label for="price">Precio</label>
    <input type="number" class="form-control" id="price" name="price" placeholder="Ingrese precio">
  </div>
  <div class="form-group">
    <label for="thumbnail">Foto</label>
    <input type="text" class="form-control" id="thumbnail" name="thumbnail" placeholder="Ingrese ur de la foto">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
