<main class="container-fluid">
  <h2>Jugadores Disponibles</h2>

  <div class="row px-3">
    {{#each this}}
    <div class="card col-3 px-1 mb-4" style="width: 18rem;">
      <img class="card-img-top" src="{{thumbnail}}" alt="Card image cap">
      <div class="card-body">
        <a href="/api/productos/{{id}}" class="text-decoration-none text-dark">
          <h5 class="card-title">{{title}}</h5>
        </a>
        <h4>${{price}}</h4>
      </div>
    </div>
    {{/each}}
  </div>
</main>
